@import url(variables.css);

body {
    background: var(--color-1);
    font-family: text;
}

.img_second img{
    position: absolute;
    top: 10vh;
    left: 3vw;
    height: 560px;
}
.information_2{
    position: absolute;
    top: 20vh;
    left: 55vw;
}
.information_2 h1, p, button{
    color: var(--color-3);
}
.information_2 p{
    font-size: 1.5rem;
}

.information_2 h1{
    font-size: 5rem;
}

.information_2 small{
    font-size: 1.5rem;
    color: var(--color-2);
}
.information_2 button{
    height: 50px;
    font-size: 2rem;
    border: 1px solid #ff702a;
    margin-top: 5px;
    background: var(--color-2);
}