@import url(variables.css);

body {
    background: var(--color-1);
    font-family: text;
}
.container{
    display: flex;
    flex-direction: column;
    
}

.rectangle h5, h1{
    color: var(--color-2);
    font-family: text;

}
.rectangle h5{
    padding-left: 3vw;
    font-size: 1.5rem;
}
.header{
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    height: 30px;
    align-items: center;
    background: white;
    border: 1px solid red;
}
.imags{
    display: flex;
    flex-direction: row;
    margin-left: 93vw;
    width: 100px;
}
.header img{

    width: 490px;
    height: 15px;
}
.img_first img{
    position: absolute;
    top: 30vh;
    left: 55vw;
    height: 560px;
}
.home{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 80px;
    color: var(--color-3);
    padding-left: 70vw;
    gap: 50px;
}
.home a:hover{
    background: #2f9e44;
}
.home a{
    text-decoration: none;
    color: var(--color-3);
}
.menu{
    width: 40px;
    text-align: center;
    padding: 0 2px;
    background: #2f9e44;
    border: 1px solid #2f9e44;
}
.title{
    font-size: 5rem;
    padding-top: 20vh;
    padding-left: 10vw;
    font-family: 'Poppins';
}
.info_principal{
    display: flex;
    flex-direction: row;
    padding-left: 10vw;
    margin-top: 0vh;
    gap: 30px;
}
.info_principal button{
    height: 50px;
    background: var(--color-2);
    color: var(--color-3);
    border: 1px solid #ff702a;
    margin-top: 6vh;
}
.info_principal small{
    font-size: 2rem;
    color: var(--color-3);
}

/*aqui empieza la about*/

.img_second img{
    position: absolute;
    margin-top: 30vh;
    left: 3vw;
    height: 560px;
}
.information_2{
    position: absolute;
    margin-top: 30vh;
    left: 55vw;
}
.information_2 h1, p, button{
    color: var(--color-3);
}
.information_2 p{
    font-size: 1.5rem;
    color: var(--color-3);
}

.information_2 h1{
    font-size: 5rem;
}

.information_2 small{
    font-size: 1.5rem;
    color: var(--color-2);
}
.information_2 button{
    height: 50px;
    font-size: 2rem;
    border: 1px solid #ff702a;
    margin-top: 5px;
    background: var(--color-2);
}

/*aqui empieza menu*/

.section4{
    /* border: 1px solid red; */
    margin-top: 150vh;
    width: 50vw;
    margin-left: 25vw;
    text-align: center;
}
.titulo small{
    color: var(--color-2);
    font-size: 1.5rem;
}
.titulo h1{
    color: var(--color-3);
    font-size: 4rem;
}
.section5{
    /* border: 1px solid red; */
    margin-top: 5vh;
}
.bloque{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.comida{
    width: 20vw;
    height: 55vh;
    background: var(--color-4);
    /* border: 1px solid green ; */
    display: flex;
    flex-direction: column;
    text-align: center;
}
.comida:hover{
    background: purple;
}
.comida h3, p{
    color: #000;

}
.comida small{
    color: var(--color-2);
}

/*aqui empieza services*/
.section6{
    /* border: 1px solid red; */
    margin-top: 100vh;
    width: 50vw;
    margin-left: 25vw;
    text-align: center;
}
.titulo small{
    color: var(--color-2);
    font-size: 1.5rem;
}
.titulo h1{
    color: var(--color-3);
    font-size: 4rem;
}
.section7{
    /* border: 1px solid red; */
    margin-top: 5vh;
}
.bloque{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.comida{
    width: 20vw;
    height: 55vh;
    background: var(--color-4);
    /* border: 1px solid green ; */
    display: flex;
    flex-direction: column;
    text-align: center;
}
.comida:hover{
    background: purple;
}
.comida h3, p{
    color: #000;

}
.comida small{
    color: var(--color-2);
}